body{
    background-color: black;
    color: white;
    font-family: 'Press Start 2P', cursive;
    margin: 5%;
}

#index{
    text-align: center;
}

#navbarArrow {
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 40px;
    animation: 0.5s blink infinite step-end;
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50%
    {
        opacity: 0;
    }
}

#tipText {
    position: fixed;
    width: max-content;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: gray;
    font-size: 10px;
    font-style: italic;
}

.historyimage{
    width: 15%;
    float: right;
}

.ul-menu{
    list-style: none;
}

.technologyimage{
    width: 30%;
    float: right;
}

a {
    color: var(--color-synthwave-5);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:focus {
    text-decoration: underline;
}
a:visited {
    color: var(--color-synthwave-5);
}

#header{
    font-size: 600%;
}
#smolHeader {
    font-size: 150%;
}

#historyheader{
    font-size: 400%;
}

h2{
    font-size: 200%;
}

#playPong{
    font-size: 300%;
}

#nyanCat{
    width: 20%;
    height: auto;
}

#underline{
    text-decoration: underline;
}

h3{
    color: var(--color-synthwave-2);
}

h2{
    color: var(--color-synthwave-2);
}

#index h3 a{
    color: var(--color-synthwave-5)!important;
}
#index h2 a{
    color: var(--color-synthwave-2)!important;
}