body{
    background-color: black;
    color: white;
    height: 100%;
}

#header{
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 600%;
}
h2{
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 200%;
}

#playPong{
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 300%;
}
