body{
    background-color: black;
    color: white;
    font-family: 'Press Start 2P', cursive;
    margin: 5%;
}

#index{
    text-align: center;
}

.historyimage{
    width: 15%;
    float: right;
}

#canvas{
    top: 0px;
    left: 0px;
    position:fixed;
    width:100%;
    height:100%;
}

#index a {
    color: white;
}
#index a:hover {
    text-decoration: none;
}
#index a:focus {
    text-decoration: underline;
}
a {
    color: blue;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:focus {
    text-decoration: underline;
}
a:visited {
    color: blue;
}

#header{
    font-size: 600%;
}

#historyheader{
    font-size: 400%;
}

h2{
    font-size: 200%;
    color: red(231, 17, 17, 0.418);
}

#playPong{
    font-size: 300%;
}

#nyanCat{
    width: 20%;
    height: auto;
}

#underline{
    text-decoration: underline blue;
}

h3
{
    text-decoration: underline;
}
