* {
    font-family: 'Press Start 2P', cursive;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

canvas {
    display: block;
    width: 33vw;
    outline: none;
    border-left: 3px solid white;
    border-right: 3px solid white;
}

.grid-container {
    display: inline-grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
}

.grid-item {
    margin: 5%;
}

#message {
    display: none;
}

@media (max-width: 500px){
    #mobileBlocker {
        display: none;
    }

    #message {
        display: block;
    }
}

#scoreboard{
    width: 100%;
}

#usernameInput{
    height: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}